<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card" style="width: 25rem;">
        <div class="card-body">
            <h5 class="card-title text-center">Inicio de Sesión</h5>
            <form>

                <div class="mb-3 d-flex flex-column align-items-center">
                    <label for="documentNumber" class="form-label">Número de Documento</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="documentNumber" name="documentNumber"
                            placeholder="Ej. 71789632" [(ngModel)]="documentNumber">
                    </div>
                    <button class="btn btn-primary mt-2" (click)="handleConsultCompanies()">Consultar Compañías</button>
                </div>

                <div class="mb-3">
                    <label for="companyName" class="form-label">Nombre de la Compañía</label>
                    <select class="form-control" id="companyName" name="companyName" [(ngModel)]="selectedCompany" [disabled]="!companyNames.length" (change)="updateCompanyPassword()">
                        <option *ngFor="let companyName of companyNames" [value]="companyName">{{ companyName }}</option>
                    </select>
                </div>

                <div class="mb-3" *ngIf="isCompanySelected">
                    <label for="password" class="form-label">Password de la Compañía</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" [(ngModel)]="password" #passwordInput>
                  </div>

                  <button type="button" class="btn btn-primary w-100" [disabled]="!isCompanySelected" (click)="handleLogin()">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</div>