<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card" style="width: 25rem;">
    <div class="card-body">
      <h5 translate class="card-title text-center">TITLE</h5>
      <form>
        <div class="mb-3 d-flex flex-column align-items-center">
          <label translate for="documentNumber" class="form-label">DOCUMENT_NUMBER</label>
          <div class="input-group">
            <input type="text" class="form-control" id="documentNumber" name="documentNumber"
                   placeholder="Ej. 71789632" [(ngModel)]="documentNumber">
          </div>
          <button translate class="btn btn-primary mt-2" (click)="handleConsultCompanies()">CONSULT_COMPANIES</button>
        </div>

        <div class="mb-3">
          <label translate for="companyName" class="form-label">COMPANY_NAME</label>
          <select class="form-control" id="companyName" name="companyName"
                  [(ngModel)]="selectedCompany" [disabled]="!companyNames.length"
                  (change)="updateCompanyPassword()">
            <option *ngFor="let companyName of companyNames" [value]="companyName">{{ companyName }}</option>
          </select>
        </div>

        <div class="mb-3" *ngIf="isCompanySelected">
          <label translate for="password" class="form-label">COMPANY_PASSWORD</label>
          <input type="password" class="form-control" id="password" name="password"
                 placeholder="Password" [(ngModel)]="password" #passwordInput>
        </div>

        <button translate type="button" class="btn btn-primary w-100"
                [disabled]="!isCompanySelected" (click)="handleLogin()">LOGIN</button>
      </form>
      
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 translate class="modal-title" id="errorModalLabel">ERROR</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div translate class="modal-body">
        {{ modalMessage }}
      </div>
      <div class="modal-footer">
        <button translate type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
      </div>
    </div>
  </div>
</div>
