.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; 
}

.card {
  width: 100%;
  max-width: 25rem;
  background-color: #000000; 
  color: #ffffff; 
}

.text-light {
  color: #ffffff; 
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.btn-custom {
  background-color: #1562b5; 
  border-color: #007bff; 
  color: #fff; 
}

.btn-custom:hover {
  background-color: #0056b3; 
  border-color: #0056b3; 
}

.text-center {
  text-align: center;
}

@media (max-width: 767.98px) {
  .container {
    padding: 10px;
  }
}
