<!-- profiles-search.component.html -->
<div class="full-width" *ngIf="!editMode">
    <app-profiles-get-data 
      (profilesFetched)="onProfilesFetched($event)"
      (submitPressed)="handleSubmitPressed($event)"
      >
    </app-profiles-get-data>
  </div>
  
  <div class="full-width" id="table" *ngIf="!editMode">
    <app-profiles-show-table 
      [profiles]="profiles"   
      [submitted]="submitted"
    >
  </app-profiles-show-table>    
  </div>

  <div class="full-width" *ngIf="editMode">  
    <app-profiles-edit-action></app-profiles-edit-action>
  </div>
  