<div class="global-container">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="section">
      <div class="section-header">
        <h4>{{ 'BUSCAR USUARIO' | translate }}</h4>
      </div>
      <div class="section-body">
        <div class="mb-3 form-group">          
            <label for="parametro" class="form-label">{{ 'Parametro de Busqueda' | translate }}</label>          
          <div class="form-group-inline">

            <div>
              <div>
                <input type="text" id="parametro" formControlName="parametro" class="form-control" 
                [ngClass]="{'is-invalid': myForm.get('parametro')?.invalid && (myForm.get('parametro')?.touched || myForm.get('parametro')?.dirty)}">
              </div>
              <div class="invalid-feedback error-message" *ngIf="myForm.get('parametro')?.invalid && (myForm.get('parametro')?.touched || myForm.get('parametro')?.dirty)">
                {{ 'ENTER_A_SEARCH_PARAMETER' | translate }}
              </div>
            </div>  

          </div>
          <div id="service-error" *ngIf="showServiceError">
            {{ serviceError }}
          </div>
        </div>          

        <div class="mb-3 form-group">
          <div id="button-section">
            <button type="submit" class="btn btn-primary w-100">{{ 'Buscar' | translate }}</button>
          </div>          
        </div>
        
      </div>
    </div>
  </form>
</div>
