/* Estilos generales */
.section {
  border: 2px solid darkblue;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  width: 100%;
}

.section-header {
  background-color: rgb(26, 163, 208);
  color: white;
  text-transform: uppercase;
  padding: 0.5rem;
  border-bottom: 2px solid darkblue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.section-body {
  padding: 1rem;
  background-color: #333;
}

.form-group-wrapper {
  display: flex;
  justify-content: center; 
  margin-bottom: 1rem; 
}

.form-group {
  display: flex;
  flex-direction: column; /* Cambiar a columna para pantallas pequeñas */
  align-items: flex-start; 
  width: 100%;
}

.form-label {
  color: lightgray;
  margin-bottom: 0.5rem; 
}

.form-control {
  background-color: #777; 
  color: white;
  width: 100%; 
  max-width: 400px; 
  text-align: center; 
}  

#button-section {
  display: flex;
  justify-content: center; 
  margin-top: 1rem;
  padding-left: 3rem; /* Aplica padding-left solo en pantallas grandes */
}

/* Estilos para pantallas grandes */
@media screen and (min-width: 780px) {
  .users-get-data {
    background-color: black;
    color: white;
    width: 100%;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 1rem; 
  }

  .form-group {
    flex-direction: row; /* Alinea en fila para pantallas grandes */
    align-items: center;
  }

  .form-label {
    margin-right: 1rem; 
    margin-bottom: 0; 
  }

  .form-control {
    width: auto; 
  }

  .textbox-item {
    width: 25rem;
    padding-left: 40rem;
  }
  
  .textbox-parametro {
    padding-left: 35rem;
  } 

  #service-error {
    width: 15rem;
  }

  .error-message{
    background-color: white;
    width: 38rem;
  }

  .label-menu-item {
    width: 35rem;
    padding-left: 15rem;
  }

  #button-section {    
    padding-left: 48rem; /* Aplica padding-left solo en pantallas grandes */
  }

  .form-group-inline {
    display: flex;
    align-items: center; 
    padding-left: 10rem;
  }
  
  .form-group-inline .form-label {
    margin-right: 10px; 
    padding-right: 5rem;
  }

  .form-group-inline #parametro {    
    width: 20rem;
  }

}

.invalid-feedback {
  /* Asegúrate de que se muestre el mensaje */
  display: block; 
  color: red;
  font-size: 0.875rem; 
  margin-top: 0.25rem; 
}

#service-error {
  color: red;
  font-size: 0.875rem; 
  margin-top: 0.25rem; 
  background-color: white;
  align-items: center;
}

.btn-primary {
  background-color: rgb(26, 163, 208);
  border-color: darkblue;
}




