<!-- users-show-table.component.html -->
<div class="global-container" *ngIf="submitted">
<div class="global-container" *ngIf="users && users.length > 0">
  <div class="section">
    <div class="section-body">
      <div class="table-wrapper">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>{{ 'IDENTIFICATION_NUMBER' | translate }}</th>
              <th>{{ 'NAME' | translate }}</th>
              <th>{{ 'SURNAMES' | translate }}</th>
              <th>{{ 'MASTER' | translate }}</th>
              <th>{{ 'ACTIONS' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{ user.identificationNumber }}</td>
              <td>{{ user.names }}</td>
              <td>{{ user.surnames }}</td>
              <td>{{ user.userMaster ? 'Yes' : 'No' }}</td>
              <td>
                <button class="btn btn-warning btn-sm" (click)="editUser(user)">{{ 'EDIT' | translate }}</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>      
    </div>
  </div>
</div>

  <div *ngIf="(!users || users.length === 0)">
    <p>{{ 'NO_USERS_FOUND' | translate }}</p>
  </div>
</div>
