<div class="container profiles-add">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="section">
            <div class="section-header">
                <h4>CODIGO DEL PERFIL</h4>
            </div>
            <div class="section-body">
                <div class="mb-3 form-group">
                    <label for="profileCode" class="form-label">Código del Perfil</label>
                    <input type="text" id="profileCode" formControlName="CodProfile" class="form-control" [ngClass]="{'is-invalid': myForm.get('CodProfile')?.invalid && myForm.get('CodProfile')?.touched}">
                    <div class="invalid-feedback" *ngIf="myForm.get('CodProfile')?.invalid && myForm.get('CodProfile')?.touched">
                        Código del Perfil es requerido y solo puede contener números.
                    </div>
                </div>
            </div>
        </div>
        <div class="section mt-4">
            <div class="section-header">
                <h4>DATOS DEL PERFIL</h4>
            </div>
            <div class="section-body">
                <div class="mb-3 form-group">
                    <label for="profileName" class="form-label">Nombre del Perfil</label>
                    <input type="text" id="profileName" formControlName="NameProfile" class="form-control" [ngClass]="{'is-invalid': myForm.get('NameProfile')?.invalid && myForm.get('NameProfile')?.touched}">
                    <div class="invalid-feedback" *ngIf="myForm.get('NameProfile')?.invalid && myForm.get('NameProfile')?.touched">
                        Nombre del Perfil es requerido y solo puede contener letras y espacios.
                    </div>
                </div>
                <div class="mb-3 form-group">
                    <label for="profileDescription" class="form-label">Descripción</label>
                    <input type="text" id="profileDescription" formControlName="Description" class="form-control" [ngClass]="{'is-invalid': myForm.get('Description')?.invalid && myForm.get('Description')?.touched}">
                    <div class="invalid-feedback" *ngIf="myForm.get('Description')?.invalid && myForm.get('Description')?.touched">
                        Descripción es requerida.
                    </div>
                </div>
            </div>
        </div>        
    </form>
</div>
