.container {
    display: flex;
    height: 650px;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

#icons {
    flex: 1 1 20%; /* 20% del contenedor */
}

#crud-components {
    flex: 3 1 80%; /* 80% del contenedor */
}

#crud-components > div {
    width: 100%; /* Ocupa el 100% del ancho */
}

.inner ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner ul li {
    margin-bottom: 10px;
}

.inner ul li img {
    width: 100px;
    height: auto;
}
