/* Estilos generales */
.section {
  border: 2px solid darkblue;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  width: 100%;
}

.section-header {
  background-color: rgb(26, 163, 208);
  color: white;
  text-transform: uppercase;
  padding: 0.5rem;
  border-bottom: 2px solid darkblue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.section-body {
  padding: 1rem;
  background-color: var(--background-color); 
}

.form-group-wrapper {
  display: flex;
  justify-content: center; 
  margin-bottom: 1rem; 
}

.form-group {
  display: flex;
  /* Cambiar a columna para pantallas pequeñas */
  flex-direction: column; 
  align-items: flex-start; 
  width: 100%;
  padding-top: 1rem;
}

.form-label {
  color: var(--text-color);
  margin-bottom: 0.5rem; 
}

.form-control {
  background-color: #777; 
  color: white;
  width: 100%; 
  max-width: 400px; 
  text-align: center; 
}  

#button-section {
  display: flex;
  justify-content: center; 
  margin-top: 1rem;
  /* Aplica padding-left solo en pantallas grandes */
  padding-left: 3rem; 
}

/* Estilos para pantallas grandes */
@media screen and (min-width: 780px) {
  .users-get-data {
    background-color: black;
    color: white;
    width: 100%;
    /* Centra el contenedor horizontalmente */
    margin: 0 auto; 
    padding: 1rem; 
  }

  .form-group {
    flex-direction: row; 
    align-items: center;
  }

  .form-label {
    margin-right: 1rem; 
    margin-bottom: 0; 
  }

  .form-control {
    width: auto; 
  }

  .textbox-item {
    width: 25rem;
    padding-left: 40rem;
  }
  
  .textbox-parametro {
    padding-left: 35rem;
  } 

  #service-error {
    width: 15rem;
  }

  .error-message{
    background-color: white;
    width: 38rem;
  }

  .label-menu-item {
    width: 35rem;
    padding-left: 15rem;
  }

  #button-section {    
    padding-left: 48rem; 
  }

  .form-group-inline {
    display: flex;
    align-items: center; 
    padding-left: 10rem;
  }
  
  .form-group-inline .form-label {
    margin-right: 10px; 
    padding-right: 5rem;
  }

  .form-group-inline #parametro {    
    width: 20rem;
  }
}

.invalid-feedback {  
  display: block; 
  color: red;
  font-size: 0.875rem; 
  margin-top: 0.25rem; 
  width: 350px;
}

#service-error {
  color: red;
  font-size: 0.875rem; 
  margin-top: 0.25rem; 
  background-color: white;
  align-items: center;
}

.btn-primary {
  background-color: rgb(26, 163, 208);
  border-color: darkblue;
}




