#side-bar {
    background-color: black; 
    color: #fff;           
    height: 100vh;         /* Altura completa de la pantalla */
    padding-left: 0.5rem;
    padding-top: 1rem;
    padding-right: 0.5rem;
  }
  
  #right-side .navbar {
    background-color: #f8f9fa !important;
  }
  
