
<app-users></app-users> 
<div class="container-fluid" id="global-container">
  <div class="row">

    <!-- Sidebar -->
    <div class="col-12 col-md-3 text-white bg-dark" *ngIf="isAuthenticated" id="side-bar">
      <button class="btn btn-primary d-md-none" type="button" (click)="toggleSidebarMenu()" [attr.aria-expanded]="isSidebarMenuOpen ? 'true' : 'false'" aria-controls="sidebarMenu" aria-label="Toggle navigation">

        <i class="fas fa-bars"></i> Menu
      </button>
      <div class="collapse d-md-block" [ngClass]="{'show': isSidebarMenuOpen}" id="sidebarMenu">
        <app-sidebar-menu></app-sidebar-menu>
      </div>
    </div>

    <!-- Main Content -->
    <div class="col" id="right-side">

      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div class="ms-auto">
            <select class="form-select" (change)="setLanguage($event)">
              <option value="es-CO">Español</option>
              <option value="en-US">English</option>
              <option value="pt-PT">Português</option>
            </select>
          </div>
        </div>
      </nav>

      <!-- Main Content -->
      <main>
        <router-outlet></router-outlet>
      </main>

    </div><!-- right-side -->

  </div><!-- row -->
</div>

<!-- <app-profiles></app-profiles> -->
