<!-- users-edit-action.component.html -->
<div class="container users-add">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="section">
        <div class="section-header">
          <h4>{{ 'USER_CODE' | translate }}</h4>
        </div>
        <div class="section-body">
          <div class="mb-3 form-group">
            <div class="label-menu-item">
              <label for="identificationNumber" class="form-label">{{ 'IDENTIFICATION_NUMBER' | translate }}</label>
            </div>
            <div class="textbox-item textbox-identification"> 
              <input type="text" id="identificationNumber" formControlName="identificationNumber" class="form-control"
              [ngClass]="{'is-invalid': myForm.get('identificationNumber')?.invalid && myForm.get('identificationNumber')?.touched}">
            </div>    
            <div class="invalid-feedback" *ngIf="myForm.get('identificationNumber')?.invalid && myForm.get('identificationNumber')?.touched">
              {{ 'IT_IS_REQUIRED_AND_CAN_ONLY_HAVE_NUMBERS' | translate}}          
            </div>      
          </div>
          
          <div id="service-error" *ngIf="showServiceError">
            {{ serviceError }}
          </div>
        </div>
      </div>
      <div class="section mt-4">
        <div class="section-header">
          <h4>{{ 'USER_DATA' | translate }}</h4>
        </div>
        <div class="section-body">
          <div class="mb-3 form-group">
            <div  class="label-menu-item">
              <label for="names" class="form-label">{{ 'NAME' | translate }}</label>
            </div>          
            <div class="textbox-item textbox-names"> 
              <input type="text" id="names" formControlName="names" class="form-control" [ngClass]="{'is-invalid': myForm.get('names')?.invalid && myForm.get('names')?.touched}">
            </div>          
          </div>
          <div class="invalid-feedback" *ngIf="myForm.get('names')?.invalid && myForm.get('names')?.touched">
            {{ 'IT_IS_REQUIRED_AND_CAN_ONLY_HAVE_LETTERS_AND_SPACES' | translate}}
          </div>
          <div class="mb-3 form-group">
            <div  class="label-menu-item">
              <label for="surnames" class="form-label">{{ 'SURNAMES' | translate }}</label>
            </div>
            <div class="textbox-item textbox-surnames"> 
              <input type="text" id="surnames" formControlName="surnames" class="form-control" [ngClass]="{'is-invalid': myForm.get('surnames')?.invalid && myForm.get('surnames')?.touched}">
            </div>          
          </div>
          <div class="invalid-feedback" *ngIf="myForm.get('surnames')?.invalid && myForm.get('surnames')?.touched">
            {{ 'IT_IS_REQUIRED' | translate}}          
          </div>

          <div class="mb-3 form-group">
            <div  class="label-menu-item">
              <label class="form-label">{{ 'IS_USER_MASTER' | translate }}</label>
            </div>          
            <div class="form-check-group">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="userMaster" id="userMasterYes" value="yes">
                <label class="form-check-label" for="userMasterYes">{{ 'YES' | translate}}</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="userMaster" id="userMasterNo" value="no" checked>
                <label class="form-check-label" for="userMasterNo"> {{'NO' | translate }}</label>
              </div>
            </div>
          </div>

          <div class="mb-3 form-group">
            <div class="section mt-4">
              <div class="section-body d-flex justify-content-start">
                <button type="submit" class="btn btn-primary me-2">{{ 'UPDATE' | translate }}</button>
                <button type="button" class="btn btn-secondary" (click)="onCancel()">{{ 'CANCEL' | translate }}</button>
              </div>
            </div>
          </div>         

        </div>
      </div>
    </form>
  </div>
  
  <!-- Modal -->
  <div #errorModal class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 translate class="modal-title" id="errorModalLabel">{{ modalHeader }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div translate class="modal-body">
          {{ modalMessage }}
        </div>
        <div class="modal-footer">
          <button translate type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">CLOSE</button>
        </div>
      </div>
    </div>
  </div>
  
