<div class="container users-add">
    <div class="section">
        <div class="section-header">
            <h4>CODIGO DEL PERFIL</h4>
        </div>
        <div class="section-body">
            <div class="mb-3 form-group">
                <label for="profileCode" class="form-label">Código profile</label>
                <input type="number" class="form-control" id="profileCode" placeholder="Ingrese el código del perfil" required>
            </div>
        </div>
    </div>
    <div class="section mt-4">
        <div class="section-header">
            <h4>DATOS DEL PERFIL</h4>
        </div>
        <div class="section-body">
            <div class="mb-3 form-group">
                <label for="profileName" class="form-label">Name profile</label>
                <input type="text" class="form-control" id="profileName" placeholder="Ingrese el nombre del perfil" required>
            </div>
            <div class="mb-3 form-group">
                <label for="profileDescription" class="form-label">Descripción</label>
                <input type="text" class="form-control" id="profileDescription" placeholder="Ingrese la descripción" required>
            </div>
        </div>
    </div>
</div>
