<!-- Botón de menú visible en pantallas pequeñas -->
<nav class="navbar navbar-expand-lg navbar-dark ">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSidebarMenu" aria-controls="navbarSidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSidebarMenu">
      <div *ngIf="listaModulos">

        <div class="dropdown custom-dropdown">
          <button class="btn btn-secondary dropdown-toggle custom-dropdown-button" 
            type="button" 
            id="dropdownMenuButton"  
            data-bs-toggle="dropdown" 
            aria-expanded="false"
            translate>
            <i class="fa-solid fa-folder"></i>
            MANAGER_ADMIN
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#" translate><i class="bi bi-building"></i> CHANGE_COMPANY</a></li>
            <li><a class="dropdown-item" href="#" translate><i class="bi bi-key"></i> CHANGE_PASSWORD</a></li>
            <li><a class="dropdown-item" [routerLink]="['/settings']" translate><i class="bi bi-blockquote-left"></i> SETTINGS</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" translate><i class="bi bi-x-circle"></i> CLOSE_SESSION</a></li>
          </ul>
          <div class="selected-company">{{selectedCompany}}</div>
        </div>

        <div class="accordion" id="accordionExample" style="margin: 5px;">
          <div *ngFor="let modulo of listaModulos; let i = index" class="accordion-item">
            <h2 class="accordion-header purple-background" id="heading{{ i }}">
              <button class="accordion-button collapsed" 
                type="button" 
                data-bs-toggle="collapse" 
                [attr.data-bs-target]="'#collapse' + i" 
                aria-expanded="false" 
                [attr.aria-controls]="'collapse' + i"
                [ngStyle]="{'background-color': modulo.Color}">
                <i [class]="modulo.Icon"></i>
                <span style="margin-left: 30px;">{{ modulo.NameModule }}</span>
              </button>
            </h2>
            
            <div id="collapse{{ i }}" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading' + i" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <table class="table table-hover">
                  <tbody>
                    <ng-container *ngFor="let option of getFilteredOptions(modulo.IdModule)">
                      <tr *ngIf="option">
                        <td>
                          <span [class]="option.Icon"></span>
                          <a [routerLink]="['/', option.Action, { Id: modulo.IdModule, IdOption: option.IdOption }]">&nbsp;{{ option.NameOption }}</a>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
