.section { 
  margin-bottom: 1.5rem;
  width: 100%;
}

#button-section {
  display: flex;
  justify-content: center; 
  margin-top: 1rem;
  /* Aplica padding-left solo en pantallas grandes */
  padding-left: 3rem; 
}

.form-control {
  background-color: #777; 
  color: white;
}

/* Estilos para pantallas grandes */
@media screen and (min-width: 780px) {
  .users-get-data {
    background-color: black;
    color: white;
    width: 100%;
    /* Centra el contenedor horizontalmente */
    margin: 0 auto; 
    padding: 1rem; 
  }

  .form-group {
    flex-direction: row; 
    align-items: center;
  }

  .form-label {
    margin-right: 1rem; 
    margin-bottom: 0; 
  }

  .form-control {
    width: auto; 
  }

  .textbox-item {
    width: 25rem;
    padding-left: 40rem;
  }
  
  .textbox-parametro {
    padding-left: 35rem;
  } 

  #service-error {
    width: 15rem;
  }

  .error-message{
    background-color: white;
    width: 38rem;
  }

  .label-menu-item {
    width: 35rem;
    padding-left: 15rem;
  }

  #button-section {    
    padding-left: 48rem; 
  }

  .form-group-inline {
    display: flex;
    align-items: center; 
    padding-left: 10rem;
  }
  
  .form-group-inline .form-label {
    margin-right: 10px; 
    padding-right: 5rem;
  }

  .form-group-inline #parametro {    
    width: 20rem;
  }
}
/* fin pantallas grandes */

.invalid-feedback {  
  display: block; 
  color: red;
  font-size: 0.875rem; 
  margin-top: 0.25rem; 
  width: 350px;  
}

.btn-primary {
  background-color: rgb(26, 163, 208);
  border-color: darkblue;
}

li{
    background-color: var(--background-color);
    border: 0;
}

.list-group-horizontal-sm {
    display: flex;
    flex-direction: row;
    
}

.small-icon {
    width: 85px;
    height: 85px; 
    background-color: var(--background-color);
} 

/* profiles-show-table.component.css */
.global-container {
    background-color: var(--background-color);
    /* padding: 20px; */
    border-radius: 8px;
    border: 2px solid #0056b3; 
    color: #fff; 
  } 
  
  .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #fff;
    background-color: #343a40; 
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05); 
  }
  
  .table th {
    background-color: rgb(26, 163, 208);
    color: #fff;
    padding: 10px;
    border-bottom: 0px solid rgb(26, 163, 208);  
  }
  
  .table td {
    padding: 10px;
    border-top: 0px solid rgb(26, 163, 208); 
  }
  
  .table .btn-warning {
    background-color: #ffc107; 
    color: #000; 
  }
  
  .section-body {
    padding: 15px;
    background-color: var(--background-color);
    border-radius: 5px;
  }

  .table-wrapper {
    max-height: 300px; 
    overflow-y: auto;
  } 

  @media (max-width: 480px) {
    .global-container{
      width: 400px;
    }
    .section-body {
      padding: 0;

    }
    .global-container {      
      padding: 0;
      border-radius: 0;
      border: none;       
    }
  } 