<!-- users.component.html -->
<div class="container">
  <div class="row col-12 col-lg-12">
      <div class="col-12 col-lg-2">
          <ul class="list-group list-group-horizontal-sm">     
              <li class="list-group-item" *ngIf="!hideAddIcon"><img class="small-icon" src="../../../assets/img/Add.png" alt="Adicionar" (click)="onAddClick()"></li>
              <li class="list-group-item" *ngIf="!hideEditIcon"><img class="small-icon" src="../../../assets/img/Edit.png" alt="Editar" (click)="onEditClick()"></li>
              <li class="list-group-item" *ngIf="!hideDeleteIcon"><img class="small-icon" src="../../../assets/img/DatoBorrado.png" alt="Borrar" (click)="onDeleteClick()"></li>
              <li class="list-group-item" *ngIf="!hideSearchIcon"><img class="small-icon" src="../../../assets/img/Buscar.png" alt="Buscar" (click)="onSearchClick()"></li>
              <li class="list-group-item" *ngIf="showSaveAndLogout"><img class="small-icon" src="../../../assets/img/Save.png" alt="Guardar" (click)="onSaveClick()"></li>
              <li class="list-group-item" *ngIf="showSaveAndLogout"><img class="small-icon" src="../../../assets/img/Cancel.png" alt="Cancelar" (click)="onClearFormSaveClick()"></li>
              <li class="list-group-item" *ngIf="showSaveAndLogout  || showLogout"><img class="small-icon" src="../../../assets/img/Logout.png" alt="Logoutar" (click)="onLogoutClick()"></li>
              <li class="list-group-item" *ngIf="showSaveForEditAndLogout"><img class="small-icon" src="../../../assets/img/Save.png" alt="Actualizar" (click)="onSaveForEditClick()"></li>
              <li class="list-group-item" *ngIf="showSaveForEditAndLogout"><img class="small-icon" src="../../../assets/img/Cancel.png" alt="Cancelar" (click)="onClearFormForEditClick()"></li>
              <li class="list-group-item" *ngIf="showSaveForEditAndLogout"><img class="small-icon" src="../../../assets/img/Logout.png" alt="Logout" (click)="onLogoutForEditClick()"></li>   
          </ul>
      </div>
      <div class="col-12 col-lg-10">
          <div class="inner" id="crud-components">
            <div *ngIf="!editMode && showAdd"><app-users-add></app-users-add></div>
            <div *ngIf="!editMode && showSearch"><app-users-search></app-users-search></div>
            <div *ngIf="editMode">
              <app-users-edit-action></app-users-edit-action>
            </div>
          </div>
      </div>
  </div>
</div><!-- container -->
