/* styles.css */
:root {
    --background-color: #000000; 
    --text-color: #8a8585;
}

.theme-light {
    --background-color: #ffffff;
    --text-color: #000000;
}

.theme-dark {
    --background-color: #000000;
    --text-color: #8a8585;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.section-header {
    background-color: rgb(26, 163, 208);
    color: white;
    text-transform: uppercase;
    padding: 0.5rem;
    border-bottom: 2px solid darkblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.section-body {
    padding: 1rem;   
}

.form-group {
    display: flex;
    flex-direction: column;
    /* Alinea verticalmente el label y el input */
    align-items: flex-start;
    width: 100%;
    padding-top: 1rem;    
  }

  .form-label {
    color: var(--text-color);
    margin-bottom: 0.5rem;     
  }

  .form-control {        
    width: 100%; 
    max-width: 400px; 
    text-align: center;     
  }

  #service-error {
    color: red;
    font-size: 0.875rem; 
    margin-top: 0.25rem; 
    background-color: white;
    align-items: center;
  }  