/* styles.css */
:root {
    --background-color: #000000; 
    --text-color: #8a8585;
}

.theme-light {
    --background-color: #ffffff;
    --text-color: #000000;
}

.theme-dark {
    --background-color: #000000;
    --text-color: #8a8585;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}