<div class="container users-add">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="section">
      <div class="section-header">
        <h4>Buscar Usuario</h4>
      </div>
      <div class="section-body">
        <div class="mb-3 form-group">
          <label for="parametro" class="form-label">Parámetro de Búsqueda</label>
          <input type="text" 
            id="parametro" 
            formControlName="parametro" 
            class="form-control" 
            [ngClass]="{'is-invalid': myForm.get('parametro')?.invalid && myForm.get('parametro')?.touched}">
          <div class="invalid-feedback" *ngIf="myForm.get('parametro')?.invalid && myForm.get('parametro')?.touched">
            Debe ingresar un parámetro de búsqueda, un número de identificación, un nombre o un apellido.
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
      </div>
    </div>
  </form>

  <div *ngIf="user">
    <h5>Usuario Encontrado:</h5>
    <p><strong>ID:</strong> {{ user.IdUser }}</p>
    <p><strong>Número de identificación:</strong> {{ user.IdentificationNumber }}</p>
    <p><strong>Nombres:</strong> {{ user.Names }}</p>
    <p><strong>Sobrenombre:</strong> {{ user.Surnames }}</p>
    <p><strong>Es UserMaster:</strong> {{ user.UserMaster }}</p>
  </div>

  <div *ngIf="user === null && myForm.touched && myForm.valid">
    <p>No se encontró el usuario.</p>
  </div>
</div>
